@import url('https://fonts.google.com/specimen/Source+Sans+Pro');

.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: #ebf7fa;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #1d1e3b;
}

.menu-main a.current, .menu-main a:hover {
    color: #505296;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #505296;
    transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

#table{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
    width: 200px;
    height: 150px;
}

tbody{
    color: #1d1e3b;
}

.body {
    height: 100%;
}

#Math {
    width: 80%;
    height: 70px;
}

#Physics {
    width: 80%;
    height: 20px;
}

#Prog {
    width: 80%;
    height: 90px;
}

#MathImg {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 5px 5px 5px darkgrey;
    float: left;
}

#MathText {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    margin-right: 70px;
}

#PhysicsImg {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 50px;
    box-shadow: 5px 5px 5px darkgrey;
    float: left;
}

#PhysicsText {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 300px;
    margin-top: 180px;
    margin-right: 70px;
}

#ProgImg {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 5px 5px 5px darkgrey;
    float: left;
}

#ProgText {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    margin-right: 70px;
    margin-bottom: 200px;
}

.footer {
    margin-top: 100%;

}

/*@media (max-width: 550px) {*/
/*    .menu-main {*/
/*        padding-top: 0;*/
/*    }*/

/*    .menu-main li {*/
/*        display: block;*/
/*    }*/

/*    .menu-main li:after {*/
/*        content: none;*/
/*    }*/

/*    .menu-main a {*/
/*        padding: 25px 0 20px;*/
/*        margin: 0 30px;*/
/*    }*/
/*}*/