@import url('https://fonts.google.com/specimen/Source+Sans+Pro');

.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: #ebf7fa;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #1d1e3b;
}

.menu-main a.current, .menu-main a:hover {
    color: #505296;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #505296;
    transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}


@media (prefers-color-scheme: light) {
    .login{
        background-color: #4A9CFF;
    }
}
@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }

    body {
        background-color: #333333;
        color: #ffffff;
        position: center;
    }

    .header {
        background-color: #f2f2f2;
    }

    .header .logo {
        color: #333;
    }

    .header .menu a {
        color: #333;
    }
    a {
        color: #4A9CFF;
    }
    a:visited {
        color: #3E76D0;
    }
}
/*class login*/

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    min-height: 300px;
}

.rememberMe {
/*    checkbox text style font*/

    font-size: 12px;
    color: #000000;
}
/*font for all text*/
body {
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    color: #000000;
}

.footer {
    margin-top: 100%;

}